
.idea/
Assignment1/pickled_files/
submission_11394110_10909486/

Assignment2/pickled/
Assignment2/probabilities/
Assignment2/small-pickled/

Assignment2/phrase_results.txt
Assignment2/word_results.txt
